{#
/**
 * @file
 * Default theme implementation to display generic block.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block--block-generation',
    'block--block-generation--composition',
  ]
%}

{# External wrapper. #}
{% if settings.wrapper_external %}
  <{{ settings.wrapper_external.tag }}{{ settings.wrapper_external.attributes }}>
{% endif %}

  {# Main wrapper. #}
  {% if settings.wrapper_main %}
    <{{ settings.wrapper_main.tag }}{{ attributes.addClass(classes) }}>
  {% endif %}

    {# Internal wrapper. #}
    {% if settings.wrapper_internal %}
      <{{ settings.wrapper_internal.tag }}{{ settings.wrapper_internal.attributes }}>
    {% endif %}

      {# Inner wrapper. #}
      {% if settings.wrapper_inner %}
        <{{ settings.wrapper_inner.tag }}{{ settings.wrapper_inner.attributes }}>
      {% endif %}

          {# Content items. #}
          {% if content %}

            {{ content }}

          {% endif %}

      {% if settings.wrapper_inner %}
        </{{ settings.wrapper_inner.tag }}>
      {% endif %}

    {% if settings.wrapper_internal %}
      </{{ settings.wrapper_internal.tag }}>
    {% endif %}

  {% if settings.wrapper_main %}
    </{{ settings.wrapper_main.tag }}>
  {% endif %}

{% if settings.wrapper_external %}
  </{{ settings.wrapper_external.tag }}>
{% endif %}
