{#
/**
 * @file
 * Default theme implementation to display generic entity.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block--block-generation',
    'block--block-generation--media',
  ]
%}

{# External wrapper. #}
{% if settings.wrapper_external %}
  <{{ settings.wrapper_external.tag }}{{ settings.wrapper_external.attributes }}>
{% endif %}

  {# Main wrapper. #}
  {% if settings.wrapper_main %}
    <{{ settings.wrapper_main.tag }}{{ attributes.addClass(classes) }}>
  {% endif %}

    {# Internal wrapper. #}
    {% if settings.wrapper_internal %}
      <{{ settings.wrapper_internal.tag }}{{ settings.wrapper_internal.attributes }}>
    {% endif %}

      {# Inner wrapper. #}
      {% if settings.wrapper_inner %}
        <{{ settings.wrapper_inner.tag }}{{ settings.wrapper_inner.attributes }}>
      {% endif %}

        {% for item in settings.order %}
          {# Content item. #}
          {% if content[item] %}
            {# Content item wrapper. #}
            {% if settings['wrapper_' ~ item] %}
              <{{ settings['wrapper_' ~ item].tag }}{{ settings['wrapper_' ~ item].attributes }}>
            {% endif %}

              {% if settings[item] %}
                <div{{ settings[item].attributes }}>
              {% endif %}
              {{ content[item] }}
              {% if settings[item] %}
                </div>
              {% endif %}

            {% if settings['wrapper_' ~ item] %}
              </{{ settings['wrapper_' ~ item].tag }}>
            {% endif %}
          {% endif %}
        {% endfor %}

      {% if settings.wrapper_inner %}
        </{{ settings.wrapper_inner.tag }}>
      {% endif %}

    {% if settings.wrapper_internal %}
      </{{ settings.wrapper_internal.tag }}>
    {% endif %}

  {% if settings.wrapper_main %}
    </{{ settings.wrapper_main.tag }}>
  {% endif %}

{% if settings.wrapper_external %}
  </{{ settings.wrapper_external.tag }}>
{% endif %}
